<div class="card gedf-card">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex justify-content-between align-items-center">
        <div class="mr-2">
          <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
        </div>
        <div class="ml-2">
          <div class="h5 m-0">{{post.userName}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>10 min ago</div>
    <div>
      <h5 class="card-title">{{post.title}}</h5>
    </div>
    <div>
    <p class="card-text">
      {{post.content}}
    </p>
  </div>
  <div class="card-footer">

    <a class="card-link" (click)="setLikeDisLike()" (mouseover)="showLikes()" (mouseout)="hideLikes()"><i [ngClass]="post.isLikedByMe == true ? 'fa fa-thumbs-down' : 'fa fa-thumbs-up'"></i>{{post.likesCount}}</a>
    <a class="card-link" (click)="onCommentButtonClicked()"><i class="fa fa-comment"></i> Comment</a>
  </div>
  <div *ngIf="showLikesNames">
    <span *ngFor="let like of post.likes">
      {{like.userName}}
    </span>
  </div>
  <br>
  <div class="mb-3">
    <div class="d-flex justify-content-center align-items-center">
      <div class="spinner-border text-primary" role="status" *ngIf="loaderShow">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <input type="text" class="form-control" placeholder="Enter comment jo karvi hoy to" [(ngModel)]="newCommentBody"
      (keyup.enter)="onCommentEntered()" #commentInput>
  </div>
  <app-comment *ngFor="let comment of comments" [comment]="comment">
  </app-comment>
</div>

<br>