<div class="container">
  <nav class="navbar navbar-expand-lg">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="admin/dashboard">Create Blogs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/signup">Register User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/login">Login User</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
<notifier-container></notifier-container>
